<%=provide(:title, @taxon.name)%>
<!-- LIGHT SECTION -->
<%= render 'potepan/shared/light_section', name: @taxon.name, shop: true %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <%= render 'sidebar', taxonomies: @taxonomies %>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'filter_area' %>
        <div class="row">
          <%= render 'product_box', products: @products %>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'potepan/shared/partner_logo' %>
